@*---------------------------------------------------------------------------------------------
 *  Copyright (c) Microsoft Corporation. All rights reserved.
 *  Licensed under the MIT License. See License.txt in the project root for license information.
 *--------------------------------------------------------------------------------------------*@

@model Microsoft.SPID.Proxy.Models.SPIDErrorModel
@{
	ViewBag.Title = "Richiesta non valida";
}

<div style="text-align:center;">
	<img src="~/img/sadSmiley.png" style="max-width:100px" />
	<h1>Si è verificato un errore</h1>
	<div>
		@if (Model == null || string.IsNullOrWhiteSpace(Model.UserFriendlyMessage.Value))
		{
			<p>Il sistema ha ricevuto una richiesta non valida: se il problema dovesse persistere, rivolgiti all'helpdesk.</p>
		}
		@if (Model != null)
		{
			if (!string.IsNullOrWhiteSpace(Model.UserFriendlyMessage.Value))
			{
				<p>@Model.UserFriendlyMessage</p>
			}
			else
			{
				<p>Se presenti, condividi i seguenti dettagli con l'helpdesk per facilitare la risoluzione del problema:</p>
				<ul style="list-style:none; padding:0">
					<li><b>Status Code: </b>@Model.StatusCode</li>
					<li><b>StatusMessage: </b>@Model.StatusMessage</li>
				</ul>
			}

		}
	</div>
</div>
