@*---------------------------------------------------------------------------------------------
 *  Copyright (c) Microsoft Corporation. All rights reserved.
 *  Licensed under the MIT License. See License.txt in the project root for license information.
 *--------------------------------------------------------------------------------------------*@

@{
    ViewData["Title"] = "403 Unauthorized";
}

<h1>403 Unauthorized</h1>
<p>Your request is unauthorized. Please check the certificate you selected, since the submitted one is not a valid CNS certificate</p>

