@*---------------------------------------------------------------------------------------------
 *  Copyright (c) Microsoft Corporation. All rights reserved.
 *  Licensed under the MIT License. See License.txt in the project root for license information.
 *--------------------------------------------------------------------------------------------*@

<div style="text-align:center;">
    <img src="~/img/logo.png" style="max-width:250px;" />
</div>